@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f3mfje');
  src:  url('fonts/icomoon.eot?f3mfje#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f3mfje') format('truetype'),
    url('fonts/icomoon.woff?f3mfje') format('woff'),
    url('fonts/icomoon.svg?f3mfje#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fax:before {
  content: "\e93a";
}
.icon-mail-3:before {
  content: "\e93b";
}
.icon-t171:before {
  content: "\e937";
}
.icon-t181:before {
  content: "\e938";
}
.icon-t191:before {
  content: "\e939";
}
.icon-t22:before {
  content: "\e936";
}
.icon-t16:before {
  content: "\e92e";
}
.icon-t17:before {
  content: "\e92f";
}
.icon-t18:before {
  content: "\e931";
}
.icon-home:before {
  content: "\e92d";
}
.icon-t21:before {
  content: "\e935";
}
.icon-t19:before {
  content: "\e933";
}
.icon-t20:before {
  content: "\e934";
}
.icon-t15:before {
  content: "\e926";
}
.icon-minus:before {
  content: "\e921";
}
.icon-plus:before {
  content: "\e925";
}
.icon-cart1:before {
  content: "\e90d";
}
.icon-cart2:before {
  content: "\e90e";
}
.icon-faq:before {
  content: "\e911";
}
.icon-fb:before {
  content: "\e912";
}
.icon-in:before {
  content: "\e913";
}
.icon-like:before {
  content: "\e914";
}
.icon-liked:before {
  content: "\e915";
}
.icon-login:before {
  content: "\e916";
}
.icon-login2:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e918";
}
.icon-pin:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-star-1:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e91c";
}
.icon-t1:before {
  content: "\e91d";
}
.icon-t2:before {
  content: "\e91e";
}
.icon-t3:before {
  content: "\e91f";
}
.icon-t4:before {
  content: "\e920";
}
.icon-t6:before {
  content: "\e923";
}
.icon-t7:before {
  content: "\e924";
}
.icon-t8:before {
  content: "\e927";
}
.icon-t9:before {
  content: "\e929";
}
.icon-t10:before {
  content: "\e92a";
}
.icon-twitter:before {
  content: "\e92b";
}
.icon-youtube:before {
  content: "\e92c";
}
.icon-arrow-db:before {
  content: "\e956";
}
.icon-arrow-1:before {
  content: "\e900";
}
.icon-arrow-2:before {
  content: "\e901";
}
.icon-arrow-3:before {
  content: "\e902";
}
.icon-arrow-4:before {
  content: "\e903";
}
.icon-arrow-5:before {
  content: "\e904";
}
.icon-arrow-6:before {
  content: "\e905";
}
.icon-arrow-9:before {
  content: "\e906";
}
.icon-arrows:before {
  content: "\e907";
}
.icon-cart-2:before {
  content: "\e908";
}
.icon-cart-3:before {
  content: "\e909";
}
.icon-cart:before {
  content: "\e90a";
}
.icon-clock:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-date-2:before {
  content: "\e90f";
}
.icon-date:before {
  content: "\e910";
}
.icon-image:before {
  content: "\e922";
}
.icon-lock:before {
  content: "\e928";
}
.icon-minus-2:before {
  content: "\e930";
}
.icon-mobile:before {
  content: "\e932";
}
.icon-plus-2:before {
  content: "\e93d";
}
.icon-quote:before {
  content: "\e940";
}
.icon-sort:before {
  content: "\e947";
}
.icon-spin:before {
  content: "\e948";
}
.icon-talk:before {
  content: "\e94b";
}
.icon-tick:before {
  content: "\e94c";
}
.icon-view:before {
  content: "\e952";
}
